@model IEnumerable<AssessmentAspNet.Models.FriendViewModel>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(Model => Model.FristName)
            </th>

            <th>
                @Html.DisplayNameFor(Model => Model.LastName)
            </th>
        </tr>

        @foreach (var friend in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => friend.Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => friend.FristName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => friend.LastName)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = friend.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = friend.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = friend.Id })
                </td>
            </tr>
        }

    </table>

</body>
</html>